.vue-flow__node.draggable {
  cursor: pointer;
}

.vue-flow__node-default,
.vue-flow__node-input,
.vue-flow__node-output {
  border-style: none;
}

.vue-flow__node-points {
  padding: 10px;
  border-radius: 3px;
  width: 150px;
  font-size: 12px;
  text-align: center;
  border-width: 1px;
  border-style: none;
  color: var(--vf-node-text);
  background-color: var(--vf-node-bg);
}

.node-btn{
  font-weight: bold;
  cursor: pointer;
}