.home-layout .image-src:hover {
    transform: translate(-50%, -50%) rotate(666turn);
    transition: transform 59s 1s cubic-bezier(0.3, 0, 0.8, 1);
}

.home-layout .image-src {
    z-index: 1000;
}

.home-layout .details small {
    opacity: 0.8;
}

.home-layout .bottom-small {
    display: block;
    margin-top: 2em;
    text-align: right;
}